
<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
'Futurizr': {
'hasTouch': 'touch'
}
}">
<head>
    <meta charset="utf-8">
    //= ../menu/css.html

    <title>Your Title Goes Here</title>
</head>

<body class="site-material_ext_publish section-animation first-chapter color-red qp-ui" data-qp-ui="{ 'Mask': {} }">
  <header class="qp-ui" data-qp-ui="{
  'Peekaboo': {
  'mobile': 72,
  'desktop-sm': 72,
  'default': 192
}
}">
<div class="header-wrapper qp-ui" data-qp-ui="{
'Peekaboo': {
'mobile': 28,
'desktop-sm': 28,
'default': 82
}
}">
<div class="header-title">
    <span class="section-title">Templates</span>
    <span class="chapter-title">
        <span class="title-separator">&mdash;</span>
        Section Layouts
    </span>
</div>
</div>

</header>

<nav>
  <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab"><i class="material-icons material-spec-icon" title="Show navigation">menu</i></button>
</nav>

//= ../menu/menu.html

<div id="grid-cont">
    <section class="grid_outer chapter">
        <h1 class="chapter-title">Section Layouts</h1>
        <p class="chapter-intro">This page serves as a way to showcase all the layouts our design guide template has to offer. Copy each section in order to achieve the desired layout.</p> 

        <div class="chapter-content">
            <nav class="chapter-toc chapter-toc--2col">
                <h1>Contents</h1>
                <ul>
                    <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#e1">Module E1</a></li>
                    <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#d1">Module D1</a></li>
                    <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#c1">Module C1 Three Column</a></li>
                    <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#f1">Module F1</a></li>
                    <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#g1">Module G1</a></li>
                    <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#two-column">Two Column</a></li>
                    <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#workflow">Module Workflow</a></li>
                    <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#workflow-no-image">Module Workflow No Image</a></li>
                </ul>
            </nav>

            <div class="article-list">

                <!-- Module E1 Start -->
                <div id="e1" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                    <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Module E1</h2>
                    <div class="article-content">
                        <div class="module-list">
                            <div>
                                <section class="moduleE1">
                                    <div class="module-body">
                                        <p>Module E1 is a 2 column grid with a 1:2 text to content ratio.</p> 
                                    </div>
                                    <div class="figure-group">
                                        <div class="figure-row">
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/760x350">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption</p>
                                                </figcaption>
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/760x350">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption</p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Module E1 End -->

                <!-- Module D1 Start-->
                <div id="d1" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                    <hr/>
                    <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Module D1</h2>
                    <div class="article-content">
                        <div class="module-list">
                            <div>
                                <section class="moduleD1">
                                    <div class="module-body">
                                        <p>Module D1 is a 3 column grid with a 1:1 text to content ratio.</p> 
                                    </div>
                                    <div class="figure-group">
                                        <!-- Row Start-->
                                        <div class="figure-row">
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/380x250">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption.</p>
                                                </figcaption>
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/380x250">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption.</p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <!-- Row End -->

                                        <!-- Row Start-->
                                        <div class="figure-row">
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/380x250">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption.</p>
                                                </figcaption>
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/380x250">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption.</p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <!-- Row End -->
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Module D1 End -->

                <!-- Module C1 Start -->
                <div id="c1" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                    <hr/>
                    <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Module C1 Three Column</h2>
                    <div class="article-content">
                        <div class="module-list">
                            <div>
                                <section class="moduleC1">
                                    <div class="module-body">
                                        <p>Module C1 has a 3 column grid with a leading text that spans the full width of the page.</p> 
                                    </div>
                                    <div class="figure-group">
                                        <!-- Row Start-->
                                        <div class="figure-row">
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/360x250">
                                                </div>
                                                <figcaption>
                                                <div class="">
                                                    <h3 class="">Three Column</h3>
                                                </div>
                                                <p>Full Width Text in a 3 column layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus eu tellus sagittis finibus ac et lorem. </p>
                                                <p>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
                                                </figcaption>
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/360x250">
                                                </div>
                                                <figcaption>
                                                   <div class="">
                                                    <h3 class="">Three Column</h3>
                                                </div>
                                                <p>Full Width Text in a 3 column layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus eu tellus sagittis finibus ac et lorem. </p>
                                                <p>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
                                                </figcaption>
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/360x250">
                                                </div>
                                                <figcaption>
                                                    <div class="">
                                                    <h3 class="">Three Column</h3>
                                                </div>
                                                <p>Full Width Text in a 3 column layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus eu tellus sagittis finibus ac et lorem. </p>
                                                <p>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <!-- Row End -->

                                        <!-- Row Start-->
                                        <div class="figure-row">
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/360x250">
                                                </div>
                                                <figcaption>
                                                    <div class="">
                                                    <h3 class="">Three Column</h3>
                                                </div>
                                                <p>Full Width Text in a 3 column layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus eu tellus sagittis finibus ac et lorem. </p>
                                                <p>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
                                                </figcaption>
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/360x250">
                                                </div>
                                                <figcaption>
                                                    <div class="">
                                                    <h3 class="">Three Column</h3>
                                                </div>
                                                <p>Full Width Text in a 3 column layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus eu tellus sagittis finibus ac et lorem. </p>
                                                <p>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
                                                </figcaption>
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/360x250">
                                                </div>
                                                <figcaption>
                                                    <div class="">
                                                    <h3 class="">Three Column</h3>
                                                </div>
                                                <p>Full Width Text in a 3 column layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus eu tellus sagittis finibus ac et lorem. </p>
                                                <p>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <!-- Row End -->

                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Module C1 End -->

                <!-- Module F1 Start -->
                <div id="f1" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                    <hr/>
                    <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Module F1</h2>
                    <div class="article-content">
                        <div class="module-list">
                            <div>
                                <section class="moduleF1">
                                    <div class="module-body">
                                        <p>Module F1 has leading text with a full width image.</p> 
                                    </div>
                                    <div class="figure-group">
                                        <!-- Row Start-->
                                        <div class="figure-row">
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/1160x540">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption</p>
                                                </figcaption>
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/1160x540">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption</p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <!-- Row End -->
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Module F1 End -->

                <!-- Module G1 Start -->
                <div id="g1" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                    <hr/>
                    <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Module G1</h2>
                    <div class="article-content">
                        <div class="module-list">
                            <div>
                                <section class="moduleG1">
                                    <div class="module-body">
                                        <p>Module G1 has leading text that with a square image.</p> 
                                    </div>
                                    <div class="figure-group">
                                        <!-- Row Start-->
                                        <div class="figure-row">
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/760x550">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption</p>
                                                </figcaption>
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/760x550">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption</p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <!-- Row End -->
                                        
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Module G1 End -->

                <!-- Two Column Start -->
                <div id="two-column" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                    <hr/>
                    <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Two Column</h2>
                    <div class="article-content">
                        <div class="module-list">
                            <div>
                                <section class="moduleG1 moduleTwoColumn">
                                    <div class="figure-group">
                                        <!-- Row Start-->
                                        <div class="figure-row">
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/760x550">
                                                </div>
                                                <div class="icon-header">
                                                    <img src="http://via.placeholder.com/24x24">
                                                    <h3 class="article-title">Two Column</h3>
                                                </div>
                                                <p>Full Width Text in a 2 column layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus eu tellus sagittis finibus ac et lorem. </p>
                                                <p>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/760x550">
                                                </div>
                                                <div class="icon-header">
                                                    <img src="http://via.placeholder.com/24x24">
                                                    <h3 class="article-title">Two Column</h3>
                                                </div>
                                                <p>Full Width Text in a 2 column layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus eu tellus sagittis finibus ac et lorem. </p>
                                                <p>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
                                            </figure>
                                        </div>
                                        <div class="figure-row">
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/760x550">
                                                </div>
                                                <div class="icon-header">
                                                    <img src="http://via.placeholder.com/24x24">
                                                    <h3 class="article-title">Two Column</h3>
                                                </div>
                                                <p>Full Width Text in a 2 column layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus eu tellus sagittis finibus ac et lorem. </p>
                                                <p>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
                                            </figure>
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/760x550">
                                                </div>
                                                <div class="icon-header">
                                                    <img src="http://via.placeholder.com/24x24">
                                                    <h3 class="article-title">Two Column</h3>
                                                </div>
                                                <p>Full Width Text in a 2 column layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus eu tellus sagittis finibus ac et lorem. </p>
                                                <p>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
                                            </figure>

                                        </div>
                                        <!-- Row End -->
                                        
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Two Column End -->

                  <!-- Module Workflow Start -->
                <div id="workflow" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                    <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Module  Workflow</h2>
                    <div class="article-content">
                        <div class="module-list">
                            <div>
                                <section class="moduleE1">
                                    <div class="module-body module-body--lg">
                                        <div>
                                          <div class="compare__list">
                                            <!-- item -->
                                            <div class="compare__item">
                                              <span class="compare__item--number">1</span>
                                              <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                            </div>
                                            <!-- item -->
                                            <div class="compare__item">
                                              <span class="compare__item--number">2</span>
                                              <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                            </div>
                                            <!-- item -->
                                            <div class="compare__item">
                                              <span class="compare__item--number">3</span>
                                              <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                            </div>
                                            <!-- item -->
                                            <div class="compare__item">
                                              <span class="compare__item--number">4</span>
                                              <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="figure-group">
                                        <div class="figure-row">
                                            <figure class="">
                                                <div class="media">
                                                    <img src="http://via.placeholder.com/760x550">
                                                </div>
                                                <figcaption>
                                                    <p>This is a caption</p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Module Workflow End -->

                 <!-- Module Workflow No Image Start -->
                <div id="workflow-no-image" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                    <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Module  Workflow No Image</h2>
                    <div class="article-content">
                        <div class="module-list">
                            <div>
                                <section class="moduleF1">
                              <div class="module-list module-body--lg">
                                <div>
                                  <div class="compare__list">
                                    <!-- item -->
                                    <div class="compare__item">
                                      <span class="compare__item--number">1</span>
                                      <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                    </div>
                                    <!-- item -->
                                    <div class="compare__item">
                                      <span class="compare__item--number">2</span>
                                      <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                    </div>
                                    <!-- item -->
                                    <div class="compare__item">
                                      <span class="compare__item--number">3</span>
                                      <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                    </div>
                                    <!-- item -->
                                    <div class="compare__item">
                                      <span class="compare__item--number">4</span>
                                      <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                      <ul class="compare__item--list">
                                        <li>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</li>
                                        <li>Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</li>
                                      </ul>
                                    </div>

                                    <!-- item -->
                                    <div class="compare__item">
                                      <span class="compare__item--number">5</span>
                                      <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                    </div>

                                    <!-- item -->
                                    <div class="compare__item">
                                      <span class="compare__item--number">6</span>
                                      <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                    </div>

                                    <!-- item -->
                                    <div class="compare__item">
                                      <span class="compare__item--number">7</span>
                                      <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit.</p>
                                    </div>

                                    <!-- item -->
                                    <div class="compare__item">
                                      <span class="compare__item--number">8</span>
                                      <p class="compare__item--content">Morbi fermentum vulputate metus non mollis. Ut fermentum et dui vel condimentum. Proin consectetur sed justo nec hendrerit, users who already added a shot to their canvas before its expiration can continue using the shot and also renew the shot.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                             </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Module Workflow No Image End -->

            </div>
        </div>
    </section>
</div>


<footer>
    <div class="footer-grid">
        <div class="footer-L section-what-is-material color-default">&nbsp;</div>
        <div class="footer-grid-L section-what-is-material color-default">
            <a class="footer-text" href="../interviews/index.html">
                <i class="material-icons arrow-L">arrow_back</i>
                <span class="direction">Previous</span>
                <div>Interviews</div>
            </a>
        </div>

        <div class="footer-R section-animation color-default">&nbsp;</div>
        <div class="footer-grid-R section-animation color-default">
            <a class="footer-text" href="../lifecycle/index.html">
                <i class="material-icons arrow-R">arrow_forward</i>
                <span class="direction">Next</span>
                <div>Lifecycle</div>
            </a>
        </div>
    </div>
</footer>
//= ../menu/js.html
</body>
</html>